# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
db.sqlite3
db.sqlite-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#apple stuff
.DS_Store